<input type="hidden" name="card[list_id]" value="<%= list.id %>" id="card[list_id]">

<label for="title"></label><input type="text" name="card[title]" value="" id="title">
<p><input type="submit" value="add card"></p>